[Desktop Entry]
Encoding=UTF-8
Name=Link to An introduction to machine learning with scikit-learn — scikit-learn 0.20.3 documentation
Type=Link
URL=https://scikit-learn.org/stable/tutorial/basic/tutorial.html#loading-an-example-dataset
Icon=text-html
Name[en_US]=Tuto link
