[Desktop Entry]
Encoding=UTF-8
Name=Link to OpenCV: OpenCV Tutorials
Type=Link
URL=https://docs.opencv.org/3.4/d9/df8/tutorial_root.html
Icon=text-html
Name[en_US]=OpenCV Tutorials
